/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  height: 80%;
}

/* Header styling */
.title {
  background-color: var(--header-bg);
  color: var(--header-text);
  height: 10%;
  padding: 20px;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
  display: flex;
  justify-content: space-between; /* Space between title and icon */
  align-items: center; /* Center items vertically */
}

/* Main container styling */
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .main {
    display: block;
    flex-direction: column;
  }
}

/* Right section styling */
.right {
  background-color: var(--right-bg);
  padding: 2rem;
  margin-top: 2vh;
  border: var(--right-border);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
  align-items: center;
  height: 80%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15); /* More shadow for depth */
}

/* Controls container styling */
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
  align-items: center;
}

/* Button styling */
.control-btn {
  padding: 10px 20px;
  font-size: 1em;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth hover effect */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Button shadow */
}
.control-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.control-btn.start {
  background-color: var(--start-btn-bg);
  color: var(--btn-text);
}

.control-btn.finish {
  background-color: var(--finish-btn-bg);
  color: var(--btn-text);
}

.control-btn.wall {
  background-color: var(--wall-btn-bg);
  color: var(--btn-text);
}

.control-btn.visualize {
  background-color: var(--visualize-btn-bg);
  color: var(--btn-text);
  text-transform: capitalize;
}

.control-btn.reset {
  background-color: var(--reset-btn-bg);
  color: var(--btn-text);
}

.control-btn:hover {
  opacity: 0.9;
  transform: scale(1.03); /* Slight scale on hover */
}

/* Pathfinding methods styling */
.pathfinding-methods {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.pathfinding-methods h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em; /* Increased size */
}

.pathfinding-methods button {
  background-color: var(--method-btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 10rem;
  transition: background-color 0.3s, transform 0.2s; /* Smooth hover effect */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for buttons */
}

.pathfinding-methods button.selected {
  background-color: var(--method-btn-selected-bg);
  border: 2px solid var(--selected-border);
}

.pathfinding-methods button:hover {
  background-color: var(--method-btn-hover-bg);
  color: var(--method-btn-hover-text);
  transform: scale(1.05); /* Slight scale effect on hover */
}

