/* General reset for mobile */
* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .controls {
    gap: 5px;
    width: 100%;
    flex-direction: row;
  }

  .path-buttons {
    flex-direction: row;
    width: 100%;
    gap: 5px;
    justify-content: center;
  }

  .input {
    white-space: nowrap;
    width: 100%;
  }
  .output {
    white-space: nowrap;
    width: 100%;
  }
}
@media (max-width: 472px) {
  .path-buttons {
    white-space: wrap;
    justify-content: center;
    flex: 1 1;
  }
}

@media (max-width: 376px) {
  .controls {
    gap: 5px;
    width: 100%;
    flex-direction: column;
  }

  .path-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    justify-content: center;
    flex: 1 1;
  }
}
